@page
@model TGL.WebApp.Pages.Students.AddModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form method="post">
    Nit
    <input asp-for="Student.Nit" />
    Name
    <input asp-for="Student.Name" />
    LastName
    <input asp-for="Student.LastName" />
    Age
    <input asp-for="Student.Age" />
    <button type="submit" style="background-Green">Save</button>
  
</form>

<a asp-page="./Index">Return to list</a>
